/* resetando a tela */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

/* auxilios */

:root{
    --primary-color: #7c5323;
    --bg-color: #f8d6c4;
    --text-color: #1c1c25;
    --light-color: rgba(255,255,255,0.04);
}

/* boot css */

.center{
    max-width: 1280;
    padding: 0 0px;
    margin: 0 auto;
}

.w50{
    width: 50%;
}

.w33{
    width: 33.3%;
    padding: 0 8%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

/* inicio do header */

header{
    padding: 5px 0;
    background-color: #6b3808e7;
}

.logo a{
    text-decoration: none; /*tirando a decoração*/
    color: #ffffff;
}

img[id="logomarca"]{
    width: 200px;
    height: 60px;
    padding: 3px;

    object-fit: cover; /*adapta a imagem para se alargar na div*/
}

.mobile{
    display: none;
}

nav .desktop ul{
    position: relative;
    top: 3px;
    list-style-type: none;
}

nav.desktop li{
    font-size: 18px;
    padding: 25px 10px;
    display: inline-block;
}

nav.desktop a{
    color: #ffffff;
    text-decoration: none;
}

nav.desktop a:hover{
    text-decoration: underline;
}


/* montando formulario de cadastro */



body{
    height: 100vh;/*altura*/

    display: flex;
    flex-direction: column;

    background-color: var(--bg-color);
    color: var(--text-color);
}

form{
    background: rgba(255,255,255,0.04);

    width: 100%;
    max-width: 500px;

    margin: 32px auto;
    padding: 32px 64px;

    display: flex;
    flex-direction: column;
}

form h2{
    margin-bottom: 32px;
    text-align: center;
    color: #383b39;
}

div.input{
    margin-bottom: 24px;
    position: relative;
}

input,button{
    /* restando aparencia */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

/* BOX */

width: 100%;

padding: 16px 0;

border: none; /* retirando bordas*/
border-bottom: 1px solid var(--primary-color);

background-color: transparent; /*dxando o fundo transparente*/

outline: none; /*tira o outline: qnd escreve aparece uma linha*/

    /* text */
    color: var(--text-color);
    font-size: 1em;
}

button{
    margin-top: 16px;
    background-color: var(--primary-color);
    color:#ffffff;
    border-radius: 10px 10px ;
}

input ~ label{
    position: absolute;
    top: 16px;
    left: 0;

    color: rgba(36, 99, 12, 0.795);

    transition: .9s;
}



input:focus ~ label,
input:valid ~ label{/*valid serve para o comando continuar se ja estiver preenchido*/
    transform: translateY(-24px); /*faz com que suba o nome e o email*/
    font-size: 1.1em; /*diminui o tamanho da fonte*/
    letter-spacing: 0,1em; /*da um espaçamento pequeno entre as letras*/
    color: #262a2d;
}

.input span.error{
    display: flex;

    padding: 0;

    background-color: rgba(255,255,255,0.02);
    
}
.input span.error.active{
    border: 1px solid #ff0000;
    padding: 0.4em;
    
}

footer a {
    color: #d5dfd6;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    display: block;
  }
  
  footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    background-color: #9b592ed3;
  }

/* mobile e desktop */

@media screen and (max-width: 771px){
    img{
        display: block;
        margin: 0 auto;
        /* max-width: 600px; */
        float: none !important;
    }
    .w50{
        padding: 20px;
        width: 100%;
    }
    .w33{
        width: 100%;
        padding: 20px;
    }
    .box-especialidade{
        margin: 0;
        padding: 40px 20px;
    }
} 

@media screen and (max-width: 770px){
    nav.desktop{
        display: none;
    }
    nav.mobile{
        display: block;
    }
    nav.mobile ul{
        display: none;
        position: absolute;
        left: 0;
        z-index: 3;
        top: 75px;
        text-align: center;
        width: 100%;
    }
    nav.mobbile li{
        border-bottom: 1px solid rgb(204, 204, 204);
        font-size: 15px;
        display: block;
    }
    nav.mobile li a{
        background: #ffffff;
        font-weight: 300;
        display: block;
        color: #333333;
        text-decoration: none;
        padding: 10px;
    }
    .botao-menu-mobile{
        font-size: 25px;
        color: #ffffff;
        cursor: pointer;
        padding: 19px 31px;
    }

    #slider {
        display: flex;
        flex-direction: center;
        /* padding: 0px 50px; */
        position: relative;
    }
}